---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import RouteCard from '../../components/RouteCard.astro';
import { byOrder } from '../../content/queries';
import { currentLocale } from '../../i18n/utils';
import { t } from '../../i18n/strings';

const locale = currentLocale(Astro.url.pathname);
const routes = byOrder((await getCollection('routes')).map((e) => e.data));
---

<BaseLayout title={t(locale, 'nav.routes')}>
  <h1>{t(locale, 'nav.routes')}</h1>
  <div class="card-grid">
    {routes.map((r) => <RouteCard route={r} locale={locale} />)}
  </div>
</BaseLayout>
