---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import DriverCard from '../../components/DriverCard.astro';
import { byOrder } from '../../content/queries';
import { currentLocale } from '../../i18n/utils';
import { t } from '../../i18n/strings';

const locale = currentLocale(Astro.url.pathname);
const drivers = byOrder((await getCollection('drivers')).map((e) => e.data));
---

<BaseLayout title={t(locale, 'nav.drivers')}>
  <h1>{t(locale, 'nav.drivers')}</h1>
  <div class="card-grid">
    {drivers.map((d) => <DriverCard driver={d} locale={locale} />)}
  </div>
</BaseLayout>
